
$color-primary-ligth:#6074f1;
$color-primary-dark:#0c1427;
$color-primary-white:#f6fbf5; 

$color-secondary-drakness:#1d2556;
$color-secondary-blue-dark:#4543d2;
$color-secondary-blue-medium:#475dd7;

$color-secondary-grey:#a2adb1;
$color-secondary-grey-dark:#444655;
$color-secondary-grey-metal:#89939c;
$color-secondary-grey-medium:#bbc5c6; 
$color-secondary-grey-ligth:#ccd6d5;

$color-secondary-ligthness:#f4f6f5;
$color-secondary-shine:#f5faf4;


$color-secondary-yellow:#f5b901;
$color-secondary-green:#3cc46f; 
$color-secondary-vilonce:#7b63f5;



